@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mr+Bedfort&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  font-family: "Space Mono", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(15, 9, 9), rgb(29, 18, 9));
}
